#header {
  background: #db452b;
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.45rem 1.45rem;
  height: 15vh;
  width: 100vw;
}
@media only screen and (max-width: 700px) {
  #header {
    font-size: 75%;
    display: flex;
    padding: 1rem 1rem;
  }
}

#header-nav {
  display: flex;
  color: #ffff;
}
.header-nav-link {
  padding: 0 1.6em;
  color: #ffff;
}

#header-title {
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  #header-title,
  header-title-link {
    margin-left: 3rem;
  }
}

#header-title-link {
  color: white;
  text-decoration: none;
  margin: 0;
}
.header-icon {
  font-size: 2rem;
  fill: #fff;
}

#profile-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;
  margin: 1rem 0;
}

#profile-image {
  width: 10rem;
  height: 10rem;
  margin: 0 1.45rem 1.45rem 0;
}

#profile-text {
  color: #db452b;
  font-size: 1.3rem;
  line-height: 2rem;
  align-self: flex-end;
}

#profile-text-large {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  text-decoration: wavy;
  font-weight: 400;
}

#profile-text-link {
  color: #db452b;
  margin: 1rem 0 2rem 0;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 200;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  #profile-text {
    font-size: 1.1rem;
    line-height: 1.5rem;
    align-self: center;
  }
  #profile-text-large {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  #profile-text-link {
    color: #db452b;
    margin: 0.6rem 0;
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
  }
}

#footer {
  height: 10vh;
  background: #db452b;
  padding: 1.3rem;
  color: #fff;
  left: 30%;
}

a {
  text-decoration: none;
  color: inherit;
}
