#header {
  background: #e04251;
  margin-bottom: 1.45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.45rem 1.45rem;
  height: 15vh;
}

#header-nav {
  display: flex;
  color: #ffff;
}
.header-nav-link {
  padding: 0 2rem;
  color: #ffff;
}
#header-title {
  margin: 1rem 2rem;
}

#header-title-link {
  color: white;
  text-decoration: none;
  margin: 0;
}
#profile-container {
}

#profile-image {
  max-width: 180px;
  margin: 0 0 1.45rem 0;
}
#footer {
  height: 10vh;
  background: #e04251;
  padding: 1.3rem;
  color: #fff;
  left: 20%;
}

a {
  text-decoration: none;
  color: inherit;
}
